doctype html
html(lang="en")
	head
		link( rel="stylesheet" type="text/css" href="../css/stylesheets/main.css" )
		block scripts
		script( data-main="../scripts/gpuplot-frontend.js" src="../bower_components/requirejs/require.js" )
		block head
	body
		div.graph-wrap
			block body